-
    const folder = "12м3р";
    const holderImgSrc = "this.src=`https://akbflash.ru/files/images/cache/placeHolder/placeHolder.png`";

section.product-page

    .product-page__container.container.v-line
        +productPageBack
        h1.product-page__title.ff-decor Электрощит трехфазный&nbsp;12&nbsp;модулей

        // ------ Slider ------
        // dekraft
        .product-page__slider(data-company="dekraft")
            .swiper-top
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/01.jpg`)
                    img.swiper-slide(src=`./assets/img/products/${folder}/02.jpg`)
                    img.swiper-slide(src=`./assets/img/products/${folder}/03.jpg`)
                .swiper-pagination

            .swiper-thumbs
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/01.jpg`)
                    img.swiper-slide(src=`./assets/img/products/${folder}/02.jpg`)
                    img.swiper-slide(src=`./assets/img/products/${folder}/03.jpg`)


        // abb
        .product-page__slider.scheme(data-company="abb" hidden)
            .swiper-top
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/abb.jpg` onerror=holderImgSrc)
                .swiper-pagination
            .swiper-thumbs
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/abb.jpg` onerror=holderImgSrc)



        // chint
        .product-page__slider.scheme(data-company="chint" hidden)
            .swiper-top
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/chint.png` onerror=holderImgSrc)
                .swiper-pagination
            .swiper-thumbs
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/chint.png` onerror=holderImgSrc)


        // iek
        .product-page__slider.scheme(data-company="iek" hidden)
            .swiper-top
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/iek.png` onerror=holderImgSrc)
                .swiper-pagination
            .swiper-thumbs
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/iek.png` onerror=holderImgSrc)


        // keaz
        .product-page__slider.scheme(data-company="keaz" hidden)
            .swiper-top
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/keaz.png` onerror=holderImgSrc)
                .swiper-pagination
            .swiper-thumbs
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/keaz.png` onerror=holderImgSrc)

        // ------ Slider END ------

        - const modif = "12м3р";
        +productPageBuy(objPrices[modif].dekraft)
        .product-page__modifications
            //--- Производитель комплектующих ---
            +productPageCompanies(objPrices[modif].dekraft, objPrices[modif].abb, objPrices[modif].chint, objPrices[modif].iek, objPrices[modif].keaz)
            // --- Корпус ---
            +productPageCase
            // Открывание
            +productPageLoop

        .product-page__data
            +productPageDataTitles

            .product-page__params
                dl.product-page__params-item
                    dt Степень защиты
                    dd IP 41
                dl.product-page__params-item
                    dt Количество модулей
                    dd 12
                dl.product-page__params-item
                    dt Количество рядов
                    dd 1
                dl.product-page__params-item
                    dt Ширина, мм
                    dd 300
                dl.product-page__params-item
                    dt Высота, мм
                    dd 212
                dl.product-page__params-item
                    dt Глубина, мм
                    dd 89


            .product-page__desc
                p Трехфазный накладной щит в сборе. Адаптирован под типовой загородный дом с выделенной мощностью до 16кВт, предусмотрены основные потребители, 3 группы защищены от утечки и короткого замыкания диф.автоматами, все остальные группы защищены общим УЗО. Автоматика будет выполнена на выбранной компонентной базе ("Комплектующие"), соблюдена селективность электрической схемы. Максимально функциональный щит для Вашего удобства.
                p Все соединения промаркированы, приложенная электрическая схема и инструкция по установке помогут выполнить работу по монтажу щита самостоятельно даже без специальных навыков.
                p В щите предусмотрено подключение следующих потребителей:
                ol
                    li 5 силовых групп с нагрузкой до 5,5 кВт на каждую
                    li 4 группы освещения с нагрузкой до 3,5 кВт на каждую

                p Дополнительный комплект наклеек для самостоятельной маркировки потребителей в каждом щите.
                p Производитель оставляет за собой право вносить изменения в схему щита (возможна замена вводного 4-х полюсного автомата на 3-х полюсной и вводную силовую клемму).