-
    const folder = "8-54м3рРН";

section.product-page

    .product-page__container.container.v-line
        +productPageBack
        h1.product-page__title.ff-decor Электрощит трехфазный&nbsp;54&nbsp;модуля

        // ------ Slider ------
        // dekraft
        .product-page__slider(data-company="dekraft")
            .swiper-top
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/01.jpg`)
                    img.swiper-slide(src=`./assets/img/products/${folder}/02.jpg`)
                    img.swiper-slide(src=`./assets/img/products/${folder}/03.jpg`)
                    img.swiper-slide(src=`./assets/img/products/${folder}/04.jpg`)
                    img.swiper-slide(src=`./assets/img/products/${folder}/05.jpg`)
                .swiper-pagination

            .swiper-thumbs
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/01.jpg`)
                    img.swiper-slide(src=`./assets/img/products/${folder}/02.jpg`)
                    img.swiper-slide(src=`./assets/img/products/${folder}/03.jpg`)
                    img.swiper-slide(src=`./assets/img/products/${folder}/04.jpg`)
                    img.swiper-slide(src=`./assets/img/products/${folder}/05.jpg`)


        // abb
        .product-page__slider.scheme(data-company="abb" hidden)
            .swiper-top
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/abb.png`)
                .swiper-pagination
            .swiper-thumbs
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/abb.png`)

        // chint
        .product-page__slider.scheme(data-company="chint" hidden)
            .swiper-top
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/chint.png`)
                .swiper-pagination
            .swiper-thumbs
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/chint.png`)


        // iek
        .product-page__slider.scheme(data-company="iek" hidden)
            .swiper-top
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/iek.png`)
                .swiper-pagination
            .swiper-thumbs
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/iek.png`)


        // keaz
        .product-page__slider.scheme(data-company="keaz" hidden)
            .swiper-top
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/keaz.png`)
                .swiper-pagination
            .swiper-thumbs
                .swiper-wrapper
                    img.swiper-slide(src=`./assets/img/products/${folder}/keaz.png`)

        // ------ Slider END ------

        - const modif = "54м3рРН";
        +productPageBuy(objPrices[modif].dekraft)
        .product-page__modifications
            //--- Производитель комплектующих ---
            +productPageCompanies(objPrices[modif].dekraft, objPrices[modif].abb, objPrices[modif].chint, objPrices[modif].iek, objPrices[modif].keaz)
            // --- Корпус ---
            +productPageCase
            // Открывание
            +productPageLoop

        .product-page__data
            +productPageDataTitles

            .product-page__params
                dl.product-page__params-item
                    dt Степень защиты
                    dd IP 41
                dl.product-page__params-item
                    dt Количество модулей
                    dd 24
                dl.product-page__params-item
                    dt Количество рядов
                    dd 3
                dl.product-page__params-item
                    dt Ширина, мм
                    dd 398
                dl.product-page__params-item
                    dt Высота, мм
                    dd 535
                dl.product-page__params-item
                    dt Глубина, мм
                    dd 102


            .product-page__desc
                p Трехфазный навесной щит для домовладения или квартиры.
                p Данная модель - это комплексное решение для организации электроснабжения в Вашем жилье с большим запасом "на будущее".
                p Каждая фаза защищена отдельным реле от перепада напряжения, Нагрузка целиком защищена от утечек, также установлены диф.автоматы для отдельного подключения оборудования, требующего максимальной защиты, например бойлер, стиральная машина и т.д.
                p Также предусмотрена возможность подключения 3-х фазного потребителя, например варочная панель или какое-то оборудование.
                p Щит имеет возможность для расширения еще на 18 портов, что очень перспективно. Вы будете всегда иметь резервное место, чтобы добавить автоматы в случае необходимости.